global-exclude *.py[cod]
include CHANGELOG.md
include README.md
include requirements.txt
include src/kenzy/VERSION
include src/kenzy/skills/HelloSkill/vocab/en_us/*.*
include src/kenzy/skills/KnockKnockSkill/vocab/en_us/*.*
include src/kenzy/skills/TellDateTimeSkill/vocab/en_us/*.*
include src/kenzy/web/*.*
include src/kenzy/image/resources/mobilenet_v3/*.*
include src/kenzy/image/resources/yolov7/*.*
include src/kenzy/data/*.*